
.hidden-post {
    display: none; /* Oculta os posts secretos */
}

.post-preview img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.post-preview {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

document.addEventListener("keydown", function(event) {
    if (event.key === "c") {  
        let hiddenPosts = document.querySelectorAll(".hidden-post");
        hiddenPosts.forEach(post => {
            post.style.display = "block";
        });
    }
});

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    background-color: #111;
    color: #c41e3a;
    font-family: 'Garamond';
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    box-shadow: 0 0 10px #c41e3a;
}

h1 {
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #c41e3a;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.post-preview {
    background-color: #222;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-left: 5px solid #c41e3a;
}

.post-preview a {
    color: #c41e3a;
    text-decoration: none;
}

footer {
    background-color: #222;
    padding: 10px;
    font-size: 0.8em;
}
